[data-md-color-scheme="solar2d"] {
  --md-primary-fg-color:        #ff8001;
  --md-primary-fg-color--light: #f88011;
  --md-primary-fg-color--dark:  #15073e;
}

[data-md-color-scheme="slate"] {
  --md-hue: 210; 
}
